{% extends "fortune/base.html" %}
{% block content %}
<form name="user_form" method='post' onsubmit="postData()">
  {{ form.as_p }}
  <button id="submit_button" type="submit">送信</button>
  {% csrf_token %}
</form>
<script>

function postData(){
  event.preventDefault();
  navigator.geolocation.getCurrentPosition(success, error);
}

function success(position) {
  let lat = position.coords.latitude;
  let lan = position.coords.longitude;

  let fld1 = document.createElement("input");
  fld1.name = "lat";
  fld1.type = "hidden";
  fld1.value = lat;
  document.user_form.appendChild(fld1);

  let fld2 = document.createElement("input");
  fld2.name = "lan";
  fld2.type = "hidden";
  fld2.value = lan;
  document.user_form.appendChild(fld2);

  document.user_form.submit();
}

function error(position) {
  alert('現在位置が取得できません');
}
</script>
{% endblock %}
